@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@600&display=swap");
@media (min-width: 768px) {
  .contact_list {
    max-width: 50%;
  }
}
.navbar-brand {
  font-size: 24px;
  color: whitesmoke !important;
}

.card_list {
  background-color: #162447;
  color: whitesmoke;
  font-family: "Alata", sans-serif;
}
.nav-link {
  font-size: 12px !important;
}
.App {
  background-color: #1b1b2f;
}
.navbar {
  background-color: #1f4068;
}
.list-group-item {
  color: black;
  font-family: "Montserrat", sans-serif;
}
